<p id="notice"><%= notice %></p>

<h2 class="mood_title"><%= @mood.mood %></h2>

<p class="mood_sub_title"><%= @mood.description%></p>


<div id="cocktails_wrapper">
	<%= render @mood.cocktails %>
	<div id="form">
		<%= render "cocktails/form" %>
	</div>
</div>
<div class="links">
<%= link_to 'Edit', edit_mood_path(@mood) %> |
<%= link_to 'Delete', mood_path(@mood), method: :delete, data: {confirm: "Are you sure?"} %> |
<%= link_to 'Back', moods_path %> 

</div>